<body>
    
    <br>
    <div class="Content">
        <h1>To do list </h1>
        <div class="Todo-List">
            <input type="text" [(ngModel)]="tarefa">
            <button type="button"(click)="adicionaTarefa()">Adicionar</button>
            <ol>
                <li *ngFor="let item of itens">
                    {{item.name}}
                    <button type="button" (click)="editartarefa(item)">Ediitar</button>
                    <button type="button" (click)="removerTarefa(item)">Remover</button>
                </li>
                    

            </ol>
        </div>
      

    </div>
    
</body>



